<%- include('header.ejs') %>
    <h2>Bucles</h2>
    <% users.forEach(user => { %>
        <p><%= user.name %> cuesta <%= user.precio %>. Su propietario es <%= user.propietario %>. Esta es su imagen: <%= user.imagen %>, y estos sus tags <%= user.tags %> </p>

    <% }) %>

<%- include('footer.ejs') %>