<%- include('header.ejs') %>
    <h2>Bucles</h2>
    <% anuncios.forEach(anuncio => { %>
        <p><%= anuncio.name %> cuesta <%= anuncio.precio %>. Su propietario es <%= anuncio.propietario %>. Esta es su imagen: <%= anuncio.imagen %>, y estos sus tags <%= anuncio.tags %> </p>

    <% }) %>

<%- include('footer.ejs') %>